.header .mobile-menu {
	float: right;
	display: none;
}
@media (max-width: 700px) {
	.fish.layout.has-sider > .sider{
		width: 100%;
		position: fixed;
		top: 52.60px;
		display: none;
	}
	.header .mobile-menu {
		float: right;
		display: block;
	    top: 15px;
	    position: relative;
	    right: 5px;
	}
}
.fish.layout.home > .header {
    padding: 0;
    background: #e0f0fa;
  }
  .fish.layout.home .has-sider > .content {
    margin: 20px;
    padding: 0.7em 1em;
  }
  .fish.layout.home .logo {
    padding: 1em;
  }
  .logo {
    padding: 0.7em .8em;
    font-weight: bold;
    font-size: 1.2rem;
  }
  